{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Fire Stations</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Maps</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Stations</a>
      </li>
    </ul>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 text-right">
      <a href="{% url 'create_station' %}" class="btn btn-primary">Add New Station</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-transparent">
        <div class="card-body">
          <div id="map" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for station in fireStations %}
            <tr>
              <td>{{ station.name }}</td>
              <td>{{ station.address }}</td>
              <td>{{ station.city }}</td>
              <td>{{ station.country }}</td>
              <td>
                <a href="{% url 'update_station' station.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete_station' station.id %}" class="btn btn-danger">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
  var map = L.map('map').setView([9.81644, 118.72239], 13);

  var truckIcon = L.icon({
    iconUrl: '{% static "img/firetruck.png" %}', // Ensure this path is correct
    iconSize: [50, 50]
  });

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var markerData = {{ fireStations|safe }};

  markerData.forEach(function(data) {
    var latitude = parseFloat(data.latitude);
    var longitude = parseFloat(data.longitude);
    
    var marker = L.marker([latitude, longitude], { icon: truckIcon }).addTo(map);

    var popupContent = data.name;
    marker.bindPopup(popupContent);

    marker.on('mouseover', function(e) {
      this.openPopup();
    });

    marker.on('mouseout', function(e) {
      this.closePopup();
    });
  });
</script>
{% endblock %}
